.loginFormContainer {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: #FFFFFF; 
}

.loginForm {
    width: 100%;
    text-align: center;
    color: #4F565B; 
}

.loginFormField {
    position: relative;
    margin-bottom: 30px;
}

.loginForm h2 {
    margin-bottom: 30px;
    color: #4F565B; 
}

.loginFormField label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
    color: #4F565B; 
}

.loginFormField.focused label, .loginFormField input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 0.75em;
    color: #E88D29; 
}

.loginFormField input[type="text"], .loginFormField input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 2px solid #4F565B; 
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF; 
    color: #4F565B; 
}

.loginFormButton {
    width: 100%;
    background-color: #E88D29; 
    color: #FFFFFF; 
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.loginForm p {
    margin-top: 15px;
    color: #4F565B; 
}
  
.loginForm a {
    color: #E88D29; 
    text-decoration: none;
}

@media (max-width: 480px) {
    .loginFormField label {
        font-size: 0.7em;
    }
}