/* Dashboard.module.css */
.dashboardContainer {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    padding: 15px; 
    width: 100%; 
}

.calendarSection {
    display: flex; /* Use flexbox for the week row */
    width: 100%; /* Full width of the container */
    justify-content: space-between; /* Distribute space evenly between the days */
    margin: 20px 0px;
}

.calendarSection .col {
    flex-grow: 1; /* Grow equally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; /* Visible border for clarity */
    text-align: center;
    padding: 10px;
    min-height: 100px; /* Adjust as needed */
}

.highlight {
    background-color: #E88D29; /* Highlight color for the current day */
    color: #fff; /* White text for better contrast */
    border-radius: 10px; /* Rounded edges */
}

.clockInContainer {
    margin: 20px 0px !important; 
    border: 2px solid #E88D29;
    padding: 20px 0; /* Vertical padding */
    text-align: center; /* Center the content */
    width: 100%; /* Width of the container */
    margin: 10px auto; /* Margin top/bottom with auto sides centers the container */
    border-radius: 10px; /* Rounded edges for modern look */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    background-color: #E88D29; /* Background color for the container */
}

.hoursWorkedContainer {
    margin: 20px 0px !important; 
    border: 1px solid #ddd; /* Temporary border for visibility */
    padding: 10px;
    text-align: center; /* Center the placeholder text */
    width: 100%;
}
